img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header{
	display: flex;
	justify-content: center;
  background-image: url(https://res.cloudinary.com/dpllkgin1/image/upload/v1587541604/rpg-week2/photo-1552393700-42696fb89bfa.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.profile{
  color: #ffffff;
  padding-top: 356px;
  padding-bottom: 256px;
}
.profile p{
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
}
.profile-name{
  font-size: 80px;
  font-weight: 900;
  line-height: 94px;
}
.profile-bio{
  margin-bottom: 64px;
}
.profile-social-media{
  display: flex;
  padding-left: 10px;
}

.profile-social-media li a{
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: bottom;
}

.profile-social-media .behance{
  background-image: url(https://res.cloudinary.com/dpllkgin1/image/upload/v1587541602/rpg-week2/iconfinder_18_social_2609550.svg);
  margin-right: 16px;
}
.profile-social-media .facebook{
  background-image: url(https://res.cloudinary.com/dpllkgin1/image/upload/v1587541602/rpg-week2/iconfinder_1_social_2609541.svg);
  margin-right: 16px;
}

.profile-social-media .instagram{
  background-image: url(https://res.cloudinary.com/dpllkgin1/image/upload/v1587541602/rpg-week2/iconfinder_25_social_2609558.svg);
  margin-right: 16px;
}

.profile-social-media .youtube{
  background-image: url(https://res.cloudinary.com/dpllkgin1/image/upload/v1587541602/rpg-week2/iconfinder_6_social_2609577.svg);
}


