img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.title{
  font-size: 64px;
  line-height: 75px;
  font-weight: 500;
}

body{
  font-family: 'Roboto', sans-serif;
}

.header{
	display: flex;
	justify-content: center;
  background-image: url(../images/photo-1552393700-42696fb89bfa.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.profile{
  color: #ffffff;
  padding-top: 356px;
  padding-bottom: 256px;
}
.profile p{
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
}
.profile-name{
  font-size: 80px;
  font-weight: 900;
  line-height: 94px;
}
.profile-bio{
  margin-bottom: 64px;
}
.profile-social-media{
  display: flex;
  padding-left: 10px;
}

.profile-social-media li a{
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: bottom;
}

.profile-social-media .behance{
  background-image: url(../images/iconfinder_18_social_2609550.svg);
  margin-right: 16px;
}
.profile-social-media .facebook{
  background-image: url(../images/iconfinder_1_social_2609541.svg);
  margin-right: 16px;
}

.profile-social-media .instagram{
  background-image: url(../images/iconfinder_25_social_2609558.svg);
  margin-right: 16px;
}

.profile-social-media .youtube{
  background-image: url(../images/iconfinder_6_social_2609577.svg);
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  margin-bottom: 24px;
}
.about .title{
  margin-bottom: 40px;
}
.about-avator{
  margin-bottom: 24px;
}
.about-info{
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
.about-info hr{
  width: 384px;
  margin-bottom: 32px;
  border: none;
  height: 1px;
  background: #000000;
}
.about-position{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.about-position li{
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-position .dot{
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #891818;
  border-radius: 50%;
  margin-right: 16px;
}

.works{
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 106px;
  position: relative;
}
.works::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 361px;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/photo-1561291386-5be50364cfb5.png);
  background-repeat: no-repeat;
  background-position: center;
}
.works .title{
  margin-bottom: 24px;
}

.works-description{
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 48px;
}

.works-list-poster ul, 
.works-list-photo ul,
.works-list-other ul{
  display: flex;
  padding-bottom: 56px;
}

.works-list-poster ul li:nth-child(1), 
.works-list-photo ul li:nth-child(1),
.works-list-other ul li:nth-child(1),
.works-list-poster ul li:nth-child(2),
.works-list-other ul li:nth-child(2){
  margin-right: 24px;
}

.works-info{
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  padding-top: 16px;
}


